body {
    width: 100%;
    height: 100vh;
    margin: 0;
    background-color: #3a2d28;
    font-family: Times;
    font-size: 17px;
    color: #3a2d28;
}

.center {
    width: 60%;
    height: full;
    margin: 0 auto 0 auto;
    padding: 1em;
    background-color: #ebe3d8;
    min-width: 500px;
    max-width: 800px;
}

fieldset {
    border: none;
    padding: 1rem 0;
}

label {
    display: block;
    margin: 0.5rem 0;
}

input,
select,
textarea {
    width: 100%;
    background-color: #f1ede6;
    border: 1px solid #f1ede6;
}

.inline {
    width: unset;
    margin: 0 0.5em 0 0;
    vertical-align: middle;
}

form {
    width: 80%;
    margin: 0 auto;
}

h1,
p {
    text-align: center;
}

input[type="submit"] {
    display: block;
    width: 60%;
    margin: 1em auto;
    height: 2em;
    font-size: 1.2rem;
    background-color: #d1c7bd;
    min-width: 300px;
}

input[type="radio"],
input[type="checkbox"] {
    accent-color: #3a2d28;
}

input[type="text"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
textarea:focus {
    outline: 2px solid #3a2d28;
}
